extends layout

block css
  link(href="http://vjs.zencdn.net/c/video-js.css",rel="stylesheet")
  script(src="http://vjs.zencdn.net/c/video.js")

block content
  script config = {"video": !{JSON.stringify(vid)}}
  a(href=vid.video) VIDEO

  .container
    video(id="video",class="video-js vjs-default-skin",preload="auto",width="640",height="264",data-setup="{}")

      source(src=vid.video,type='video/mp4')
    button.play Start Statting!
    .statting
      input.stat-input(type='text')
      button.done Done!
      .log

block scripts
  != js('stat')
