button.done
  margin-left 365px

html
  height 100%

  body
    height 100%
    background-color #f5f5f5

.controls
  float right
  width 250px
  .skill
    .details
      .detail
        position: relative
        .detail-label
          position: absolute
          left: 0
          top: 0
        .options
          margin-left: 80px

.checkbox-group
  margin-right 20px
  display: inline-block
  .checkbox
    white-space nowrap
    padding-left 5px

.container
  width 640px

.stats
  .log
    width 380px
